/* Google Fonts */
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    /* GRID */
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer"
    ;
}

a {
    text-decoration: none;
    color:inherit;

}

a:hover {
    background-color: #338833;
}

/* LAYOUT */
header {
    grid-area: header;
}
nav {
    grid-area: nav;
    margin-bottom: 1.5rem;
}

main {
    grid-area: main;

}


footer {
    grid-area: footer;
    text-align: end;
}


nav {
    background-color: #333333;
}

/* GLOBALS */
header, footer {
    padding: 2rem 1rem;
    background-color: #CCCCCC;
}

nav ul li {
    list-style: none;
    color: white;
    height: 100%;
}

figure {
    margin:1.5rem 0;
}

img {
    object-fit: cover;
}

p {
    margin: 1.5rem 0;
    text-align: justify;
}

footer {
    background-color: #CCCCCC;

}


/* MEDIA QUERIES */
/* Media Queries */
@media screen and (min-width: 768px) and (max-width: 1023px){
    header, nav, footer {
        display: none;
    }

}

@media only screen and (min-width: 1024px){
    main {
        display: flex;        
    }
    article {
        width: 70vw;
    }
    nav ul {
        display: flex;
        gap: 1rem;
        padding: 0.3rem 0.4rem;
    }

}


